
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.containerfull {
  background: #DAD4CC;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 80px 24px 60px;
}

.container h4 {
  color: #DB612E;
  font-family: Bitter;
  font-weight: 700;
  font-size: 30px;
  line-height: 102%;
  text-align: center;
}

.container p {
  color: #000000;
  font-family: Bitter;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 624px;
}

.container a {
  color: #FFFFFF;
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 18.65px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: #EB6A04;
  border-radius: 6px;
  padding: 10px 16px;
}