@font-face {
  font-family: 'BitterBold';
  src: url('../assets/fonts/Bitter/Bitter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BitterRegular';
  src: url('../assets/fonts/Bitter/Bitter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BitterRegularItalic';
  src: url('../assets/fonts/Bitter/Bitter-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('../assets/fonts/Raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayRegular';
  src: url('../assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayExtraBold';
  src: url('../assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayBlack';
  src: url('../assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
}
